section.portfolio(
	fxLayout='column'
	fxLayout.gt-xs='row'
	fxLayoutAlign='start stretch')
	md-card.portfolio__item(
		*ngFor='let project of projects'
		fxFlex='100'
		fxFlex.sm='50'
		fxFlex.md='33.33'
		fxFlex.gt-md='25')
		md-card-header
			md-card-title {{project.title}}
			md-card-subtitle
				a.portfolio__link(
					href='{{project.link.link}}'
					title='{{project.link.link}}') {{project.link.name}}
		img(
			[src]='project.image.small'
			alt='{{project.image.alt}}'
			md-card-image)
		md-card-content
			p {{project.description}}
		md-card-actions.portfolio__links
			button.portfolio__btn(
				type='button'
				href='#somelink'
				md-button) more info
