ul.heroes
	li(
		*ngFor='let hero of heroes'
		(click)='selectHero(hero)'
		[class.selected]='hero === selectedHero')
		span.badge {{hero.id}}
		span {{hero.name}}
		button.delete((click)='delete(hero); $event.stopPropagation()') X
	h3(*ngIf='!heroes || !heroes.length') Загружаем-с...
//- hero-detail([hero]='selectedHero')
div(*ngIf='selectedHero')
	h2 {{selectedHero.name | uppercase}} is my hero
	button((click)='gotoDetails()') view details
div
	label hero name: 
	input(
		type='text'
		placeholder='name'
		#heroName)
	button((click)='add(heroName.value); heroName.value = \'\'') add