header
	img(
		src='img/angular.svg'
		alt='')
	h1 {{title}}

main
	form.todo-form(
		#todoForm='ngForm'
		(ngSubmit)='create(); todoForm.reset()')
		input(
			type='text'
			placeholder='what to do'
			required
			name='title'
			[(ngModel)]='newTodoTitle')
		button(
			type='submit'
			[disabled]='todoForm.form.invalid') add
	section.todo-list(*ngIf='todos.length')
		.todo-item(
			*ngFor='let todo of todos'
			[class.completed]='todo.completed')
			button.checkbox.icon((click)='toggle(todo)')
				i.material-icons {{todo.completed ? 'check_box' : 'check_box_outline_blank'}}

			span.title {{todo.title}}

			.actions
				button.delete.icon((click)='delete(todo)')
					i.material-icons delete